<ion-content>
    <!-- <div class="container"> -->
    <div class="cc_padding30px" *ngIf="myLabels != null">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
                <ion-col>
                    <div class="LogoHolder">
                        <div class="logoContent">
                            <img src="{{myLabels.logo}}">
                            <p>{{myLabels.brandName}}</p>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="contentHolder">
                        <h4>{{myLabels.title1}}</h4>
                        <h3>{{myLabels.title2}}</h3>
                        <hr>
                        <p>{{myLabels.title3}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="cc_margin ">
            <ion-item lines="none">
                <ion-checkbox checked slot="start"></ion-checkbox>
                <ion-label class="cc_NoLabel">{{myLabels.tncLabel1}}<a href="{{myLabels.tncLabel2}}">{{myLabels.tncLabel3}}</a></ion-label>
            </ion-item>
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                    <ion-col size="12" size-sm>
                        <div>
                            <ion-button expand="block" fill="outline" class="lowercase" (click)="LoginWithPhone()">
                                <ion-img src="{{myLabels.signupIcon1}}"></ion-img>
                                {{myLabels.signupLabel1}}
                            </ion-button>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <div>
                            <ion-button expand="block" fill="outline" class="lowercase" (click)="signInWithGoogle()">
                                <ion-img src="{{myLabels.signupIcon2}}"></ion-img>
                                {{myLabels.signupLabel2}}
                            </ion-button>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <div>
                            <ion-button expand="block" fill="outline" class="lowercase" (click)="signInWithInsta()">
                                <ion-img src="{{myLabels.signupIcon3}}"></ion-img>
                                {{myLabels.signupLabel3}}
                            </ion-button>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="6" size-sm>
                        <div>
                            <a (click)="signInWithFB()">{{myLabels.signupLabel4}}</a>
                        </div>
                    </ion-col>
                    <ion-col size="6" size-sm>
                        <div class="text-right">
                            <a href="{{myLabels.signupUrl5}}">{{myLabels.signupLabel5}}</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <!-- </div> -->
</ion-content>


<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="showModal">

    <!-- Modal content -->
    <div class="modal-content" *ngIf="GmailContent">
         <ion-icon class="text-center cc_downArrow" name="chevron-down-outline" (click)="close();"></ion-icon> 
        
        <!--<div class="cc_downArrowIcon">
        <img name="chevron-down-outline" (click)="close();">
        </div>-->
        
        <!-- <span class="close" (click)="close();">&times;</span> -->
        <p class="modalTitle">{{myLabels.gmailModel[0].title}}</p>
        <ion-item (click)="showSMGSuccessGmail()" lines="none">
            <ion-avatar slot="start">
                <ion-icon class="personIcon" name="person-circle"></ion-icon>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
            </ion-avatar>
            <ion-label>
                <h3>{{myLabels.gmailModel[0].emails[0].name}}</h3>
                <p class="cc_label">{{myLabels.gmailModel[0].emails[0].email}}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
                <ion-icon class="personOutline" name="person-add-outline"></ion-icon>
                <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
            </ion-avatar>
            <ion-label class="cc_NoMarginTop">
                <h3 class="addAccount">{{myLabels.gmailModel[0].emails[1].name}}</h3>
            </ion-label>
        </ion-item>
        <p class="cc_note">{{myLabels.gmailModel[0].note1}}<a href="{{myLabels.gmailModel[0].note2Url}}">{{myLabels.gmailModel[0].note2}}</a>{{myLabels.gmailModel[0].note3}}<a href="{{myLabels.gmailModel[0].note4Url}}">{{myLabels.gmailModel[0].note4}}</a>.</p>
    </div>

    <div class="modal-content" *ngIf="SMGSuccessGmail">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p>{{myLabels.gmailModel.successMsg}}</p>
    </div>

</div>