.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.MuliSemiBold{
    font-family: "Muli-SemiBold";
}
.MuliBold{
    font-family: "Muli-Bold";
    font-size: 12px;
}
.SubTitle {
    margin: 5px 0px 10px 0px; 
    padding: 0px;
    color: #727682;
    font-size: 15px;
    font-family: "Muli-Regular";
}

.warm-grey-10{
    color: #707070;
    font-size: 10px;
    font-family: "Muli-Regular";
}

.childTitleGold {
    margin: 0px;
    padding: 0px;
    color: #151b2e;
    width: 100%;
    font-size: 12px;
    font-family: "Muli-Regular";
}