<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/gold3">
        <ion-icon name="chevron-back-outline" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Gold 4</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/gold1">
        <ion-icon name="share" class="blue"></ion-icon>
      </ion-button>
      <ion-button routerLink="/gold2">
        <ion-icon name="cart" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content ion-padding" fullscreen="true">
  <ion-card>

    <ion-item>
      Charges / tax applicable
      <ion-icon name="chevron-forward-outline" slot="end" class="blue" (click)="toggleAccordion(0)"></ion-icon>
      
      <!-- <div *ngIf="isMenuOpen">
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </div> -->
      <span *ngIf="isMenuOpen">
        <!-- <img src="../../../assets/Images/down_arrow.svg"> -->
    </span>
    <span *ngIf="!isMenuOpen">
      
        <!-- <img style="transform: rotate(180deg)" src="../../../assets/Images/down_arrow.svg"> -->
    </span>
      <!-- <ion-item *ngIf="isMenuOpen">

      </ion-item> -->
    </ion-item>

    <ion-item class="ion-padding" *ngIf="isMenuOpen">
      <div class="menuChildDiv">
          <ion-row class="menuChildRow">
          
              <ion-col class="menuChildTitleCol" size="11">
         
                  <ion-row class="menuChildTitleRow">
                      <p class="childTitle">3% GST on market price
                          <ion-subtitle class="kycStateSubTitle"> While investing</ion-subtitle>
                      </p>
                  </ion-row>

                  <h6 class="childSubTitle">Your account is verified by Aqube. Start Investing
                  </h6>
                 
              </ion-col>
          </ion-row>
      </div>
  </ion-item>

    <ion-item>

      <p>Minimum holding period & liquidation</p>
      <ion-icon name="chevron-forward-outline" slot="end" class="blue" (click)="toggleAccordion1(0)"></ion-icon>

    </ion-item>

    <ion-item>
      About Seller
      <ion-icon name="chevron-forward-outline" slot="end" class="blue"></ion-icon>
    </ion-item>

  </ion-card>
</ion-content>
