.toolbar{
    text-align: center;
}
.btn{
    text-transform: none; 
}
.ftr{
    padding: 10px;
}
.center{
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 100px 0px 0px 0px;
}