<ion-content class="portfolio" *ngIf="myLabels != null">
  <div class="mfPortfolio">
    <h2 (click)="toggleAccordion(i)">
      {{myLabels.titleLabel}}

      <!-- <span *ngIf="isMenuOpen">
        <img src="../../../assets/Images/down_arrow.svg">
      </span>
      <span *ngIf="!isMenuOpen">
        <img style="transform: rotate(180deg)" src="../../../assets/Images/down_arrow.svg">
      </span> -->
    </h2>

    <img class="cc_hr" src="../../../assets/Images/rectangle_6023.svg">

    <p style="margin-top: 50%; text-align: center; width: 100%;">Health Coming Soon..!</p>

  </div>
  
</ion-content>