<ion-header class="searchheader">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="arrowBackIcon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <!-- <ion-searchbar placeholder="Seach by fund name"></ion-searchbar> -->
      <input class="searchInput" type="search" placeholder="Search by fund name">
    </ion-buttons>

    <ion-buttons slot="end">
      <!-- <ion-icon class="toolIconRight" name="cart-outline"></ion-icon> -->
      <img class="toolIconRight" src="../../../assets/Images/search.svg">
    </ion-buttons>

  </ion-toolbar>
</ion-header>