.blue{
    color: blue;
}
.title{
    text-align: center;
    font-family: "Muli-Bold";
}
.button{
    text-transform: none;
}


.toolbar{
    text-align: left;
    font-family: "Muli-Bold";
}
.Pay_header{
    font-family: "Muli-Bold";
    font-size: 16px;
}
.btnGold{
    text-transform: none; 
    height: 40px;
}
.ftr{
    padding: 10px;
}
.center{
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 0px 0px 0px 0px;
}
.padding-left-8{
    align-items: left;
    text-align: left;
    vertical-align: left;
    padding: 0px 0px 0px 0px;
}
.great{
    font-family: "Muli-Bold";
    font-size: 20px;
}
.checkmark{
    height:70px;
    width: 70px;
    color: #29AD00;
}
.font-12{
    font-size: 12px;
}
.ib{
    position: fixed;
    display: auto;
    width: 100%;
}
.div-padding{
    padding: 5px 5px 5px 5px;
}


.btn1{
    border-radius: 5px;
    text-transform: none;
    font-family: "Muli-Bold";
}

.battleship_grey{
    color: #727682;
    font-size: 12px;
}

.warm_grey{
    color:#707070;
    font-size: 10px;
}

.Muli_Regular{
    font-family: "Muli-Regular";
}

.Muli_SemiBold{
    font-family: "Muli-SemiBold";
}

.modalRight{
    text-align: right;
    align-items: right;
}

.size-img-34{
    height: 34px;
    width: 34px;
}

.radio-group{
    padding: 0px 0px 0px 0px;
}
.img{
    padding: 0px 0px 0px 12px;
}

.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.padding-left-8{
    padding: 0px 0px 0px 8px;
}
.padding-0-0-5-5{
    padding: 0px 0px 5px 5px;
}

.common-margin{
    padding: 0px 0px 10px 0px; 
}
.newdiv{
    padding: 0px 0px 0px 15px;
}
.radioDetails{
    margin: 0px 0px 0px 0px;
}



.successful{
    align-items: right;
    text-align: right;
}

.green{
    color:#29AD00;
}

.align{
    vertical-align: auto;
}

.stepper-wrapper-vertical{
    
    .step-wrapper{
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 1.2rem;

        color: #29AD00;
        box-shadow: 5px;
    }

    .step-number{
        border-radius: 80%;
        border: 1px solid grey;
        width: 18px;
        height: 18px;
        padding: 4px;
        text-align: center;
        margin-right: 1.2 rem;

        color: #29AD00;
        box-shadow: 5px;
        position: relative;
        display: flex;
    }

    .divider-line{
        width: 1px;
        height: 17px;
        background-color: #bdbdbd;
        position: absolute;
        top: 100%;
        left: 14px;
    }
}

.c141b2f{
    color: #141b2f;
}