.toolbar{
    text-align: center;
}
.btn{
    text-transform: none; 
}
.ftr{
    padding: 10px;
}
.center{
    text-align: center;
    font-family: "Muli-Bold";
    .ion-subtitle{
        color: grey;
    }
}