<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/bank2">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bank Account Details 3</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank4">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding outer-content">
  <div class="center">
<ion-title>Verifying Bank Account</ion-title>
<ion-subtitle>You may see a credit of 1 rupee</ion-subtitle>
</div>
</ion-content>

<ion-footer class="ftr">
  <ion-button class="btn" routerLink="/bank4" expand="block">Bank 4</ion-button>
</ion-footer>