<ion-header>

  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-button (click)="goToRobo3()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Robo Advisory 4</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/robo5">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content full class="ion-padding">
  <div class="outer-content">
  This is the 4th Page of Robo Advisory
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/robo1">TorusSuperApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/robo1">Home</a></li>
        <li><a routerLink="/robo1">Page 1</a></li>
        <li><a routerLink="/robo2">Page 2</a></li>
        <li><a routerLink="/robo3">Page 3</a></li>
        <li><a routerLink="/robo4">Page 4</a></li>
        <li><a routerLink="/robo5">Page 5</a></li>
        <li><a routerLink="/robo6">Page 6</a></li>
      </ul>
    </div>
  </nav>
</ion-content>

<ion-footer>

    <ion-button expand="block" routerLink="/robo5" class="footer-button">
      Robo Page 5
    </ion-button>

</ion-footer>
