<ion-header translucent>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button (click)="goToRoboHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/robo1">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="container">
 
  <span class="ion-card">
    <ion-card class="ion-padding" flex="1"> 
      Your Income
    </ion-card>
  </span>

  <span class="ion-card">
    <ion-card class="ion-padding" flex="1">
      Your Expenses
    </ion-card>
  </span>

  <span class="ion-card">
    <ion-card class="ion-padding" flex="1">
      Your Assets
    </ion-card>
  </span>

  <span class="ion-card">
    <ion-card class="ion-padding" flex="1">
      Your Liabilities
    </ion-card>
  </span>

  <span class="ion-card">
  <ion-item-group flex="1" class="col-md-12">
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
  </ion-item-group>

  <ion-item>
    <ion-label>Goals Achieveable</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Your Surplus</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Your Networth</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Your Historical Growth</ion-label>
  </ion-item>
  

  <ion-item-group class="container col-md-6">
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
  </ion-item-group>

  <ion-item>
    <ion-label>4/4</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>94021305</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>3946434</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Your Financial Growth Since You Joined Us!</ion-label>
  </ion-item>
  </span>

</ion-content>


<ion-footer>
  <ion-button class="footer-button" expand="block" routerLink="/robo1">Robo Page 1</ion-button>
</ion-footer>