<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start" class="blue">
      <ion-button routerLink="/gold19v1">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Gold 25</ion-title>

    <ion-buttons slot="end" class="blue">
      <ion-button routerLink="/gold1v1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="openModal()" class="btn1">MODAL</ion-button>
 
  <div class="footerModal Muli_Regular" *ngIf="modal" >

    <div class="addCart-modal-content Muli_Regular" *ngIf="Gold != null">

      <ion-item-divider style="color:black;" class="ion-no-padding common-margin">

       <ion-col size="3" class="ion-no-padding Muli_Regular" style="font-size: 11px">₹{{Gold.Amount}}/gm</ion-col>
                                                      
       <ion-col size="3" class="ion-no-padding Muli_Regular warm_grey " style="font-size: 10px">+ ₹{{Gold.GST}} IGST</ion-col>
       <ion-col size="1"></ion-col>
       <ion-col class="ion-no-padding Muli_Regular"> <ion-icon name="stopwatch-outline" class="blue ion-no-padding"></ion-icon> </ion-col>
       <ion-col size="6" style="font-size: 10px" class="ion-no-padding Muli_Regular padding-0-0-5-5">
        valid for <strong>{{Gold.Time}}mins</strong>
       </ion-col>

    </ion-item-divider>

     <ion-radio-group value="ICICI" class="common-margin"> 

        <ion-list-header class="ion-no-padding">
          <ion-label class="battleship_grey">Choose destination bank account</ion-label>
        </ion-list-header>
    <div *ngFor="let item of Gold.BankDetailsList" #id>
        <ion-item lines="none" class="ion-no-padding" >

        <ion-radio slot="" value="{{item.id}}"></ion-radio>
   <div class="img" >
        <img src="{{item.Logo}}" alt="ICICI" class="size-img-34 ion-no-padding">
      </div>

        

        <div class="newdiv">
          <p class="ion-no-padding Muli_SemiBold radioDetails Muli_SemiBold">{{item.BankName}}

          </p>
          <p class="ion-no-padding Muli_Regular radioDetails Muli_Regular">A/c: {{item.ACno}}
            
          </p>
        </div>

        </ion-item>
      </div>
      </ion-radio-group> 

      <ion-label class="warm_grey common-margin">*Amount will be deposited within 2 working days</ion-label>

      <ion-button fill="solid" expand="block"  class="button md button-block button-solid ion-activatable btn1"
      routerLink="/gold1v1">Go To Gold 1</ion-button>
    </div>
  </div>

</ion-content>
