.btn1{
    border-radius: 5px;
    text-transform: none;
    font-family: "Muli-Bold";
}

.battleship_grey{
    color: #727682;
    font-size: 12px;
}

.warm_grey{
    color:#707070;
    font-size: 10px;
}

.Muli_Regular{
    font-family: "Muli-Regular";
}

.Muli_SemiBold{
    font-family: "Muli-SemiBold";
}

.modalRight{
    text-align: right;
    align-items: right;
}

.size-img-34{
    height: 34px;
    width: 34px;
}

.radio-group{
    padding: 0px 0px 0px 0px;
}
.img{
    padding: 0px 0px 0px 12px;
}

.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.padding-left-8{
    padding: 0px 0px 0px 8px;
}
.padding-0-0-5-5{
    padding: 0px 0px 5px 5px;
}

.common-margin{
    padding: 0px 0px 10px 0px; 
}
.newdiv{
    padding: 0px 0px 0px 15px;
}
.radioDetails{
    margin: 0px 0px 0px 0px;
}

.blue{
    color: blue;
}
.title{
    text-align: center;
}
.button{
    text-transform: none;
}


.fs-11{
    font-size: 11px;
}

.fs-10{
    font-size: 10px;
}