.toolbar{
    text-align: center;
}
.btn{
    text-transform: none; 
    height: 40px;
}
.ftr{
    padding: 10px;
}
.center{
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 100px 0px 0px 0px;
}
.great{
    font-family: "Muli-Bold";
    font-size: 22px;
}
.checkmark{
    height:70px;
    width: 70px;
    color: #29AD00;
}