<ion-header>

  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/bank3">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bank Account Details 4</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank1">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding outer-content" fullscreen="true">
  <div class="center">
    <ion-icon name="checkmark-circle-outline" class="checkmark"></ion-icon>
    <p class="great">Great!</p>
    <p class="great">Your bank account is verified</p>
  </div>
</ion-content>

<ion-footer class="ftr">
  <ion-button class="btn" routerLink="/bank1" expand="block">Continue To Account Setup</ion-button>
</ion-footer>