<ion-header>

  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-button routerLink="/robo5">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Robo Advisory 6</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank1">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-button class="footer-button" expand="block" routerLink="/bank1">Bank 1</ion-button>
</ion-footer>