.Muli_Bold{
    font-family: "Muli-Bold";
}

.Muli_SemiBold{
    font-family: "Muli-SemiBold";
}

.Muli_Regular{
    font-family: "Muli-Regular";
}

.ttn{
    text-transform: none;
}

.green{
    color: #29ad00;
}



.blue{
    color: #003399;
}

.center{
    align-items: flex-end;
    vertical-align: auto;
}

.greyish{
    color:#b2b2b2;
}

.ITF{
    font-family: "ITFRupee-Regular";
}

.fs-11{
    font-size: 11px;
}

.profile-image{
    border-radius: 10%;
}