.center{
    text-align: center;
}

.profile-image{
    border-radius: 50%;
}

.Muli_Bold{
    font-family: "Muli-Bold";
}

.fs-13{
    font-size: 13px;
}

.fs-12{
    font-size: 12px;
}

.fs-11{
    font-size: 11px;
}

.green{
    color: #29ad00;
}

.Muli_SemiBold{
    font-family: "Muli-SemiBold";
}

.blue{
    color: #003399;
}

.margin-bottom-zero{
    margin-bottom: 0;
}

.margin-top-zero{
    margin-top: 0;
}

.e{
    color: #eeeeee;
}


.vertical-center{
    vertical-align: center;
    padding: 17px 0px 0px 0px;
}

.check{
    padding: 2px 2px 0px 0px;
}