.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.grey{
    color: grey;
    font-family: "Muli-Regular";
}
.eg{
    color: grey;
    font-family: "Muli-Regular";
    padding: 0px 0px 100px 0px;
}
.btn{
    text-transform: none; 
    font-family: "Muli-Regular";
}
.ftr{
    padding: 10px;
}
.grey-footer{
    color: grey;
    font-family: "Muli-Regular";
    font-size: 10px;
    text-align: center;
}
.radio-button{
    padding: 0px 0px 5px 10px;
    vertical-align: baseline;
}
.input{
    border-color: blue;
}
#img{
    height: 5px;
    width: 5px;
}