<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/robo6">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bank Account Details 1</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank2">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding outer-content">

<ion-list>
  <ion-radio-group>
    <ion-list-header class="grey">
      <ion-label>
        Bank Account Type
      </ion-label>
    </ion-list-header>
    <!-- <span>
    <ion-item>
      <ion-label>Savings</ion-label>
      <ion-radio value="savings" slot="start"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Current</ion-label>
      <ion-radio value="current" slot="start"></ion-radio>
    </ion-item>
  </span> -->
  <ion-row>
    <ion-col>
      <input type="radio" id="1" value="savings" name="choice" >
      <label for="1" class="radio-button">Savings</label>
    </ion-col>
    <ion-col>
      <input type="radio" id="2" value="current" name="choice">
      <label for="2" class="radio-button">Current</label>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>   
  </ion-radio-group>
</ion-list>
<p class="grey">Branch IFSC Code</p>

<ion-item class="eyp-input">
  <ion-input name="IFSC_Code"
             placeholder="ICICI000012" 
             type="text"
             #mysecretpassword 
             class="enter-pan-input">{{IFSC_Code}}
             
  </ion-input>

<ion-text class="grey">Find IFSC</ion-text>
</ion-item>
<p class="eg">Example AAAA33802</p>

<ion-footer>
  <ion-icon name="lock" id="img"></ion-icon>
  <p class="grey-footer" >Your Bank Account Details are safe with us</p>
  <ion-button class="btn" routerLink="/bank2" expand="block">Confirm & Continue</ion-button>
</ion-footer>

