<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="redirectToSALanding()" layout="icon-top">
      <ion-icon src="/assets/bottom_tab/home_gray.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" layout="icon-top">
      <ion-icon src="/assets/bottom_tab/dashboard_gray.svg"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invest" layout="icon-top">
      <ion-icon src="/assets/bottom_tab/invest_gray.svg"></ion-icon>
      <ion-label>Invest</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="watchlist" layout="icon-top">
      <ion-icon src="/assets/bottom_tab/watchlist_gray.svg"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" layout="icon-top">
      <ion-icon src="/assets/bottom_tab/profile_gray.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>