<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/robo6">
        <ion-icon name="chevron-back-outline" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Setup Investment Account</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank2">
        <ion-icon name="close" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-progress-bar class="pb"></ion-progress-bar>
<ion-content class="ion-padding outer-content">
  
<div>
  <ion-text class="aba">Add Bank Account</ion-text>
</div>
<div>
    <p class="aba-details">
    You will use this bank account to invest in mutual 
    funds and all your withdrawal will be credited in 
    this bank account
    </p>
</div>

    <ion-label class="grey">
      Bank Account Type
    </ion-label>
    <div class="rg">
<ion-radio-group>
  <ion-row>
    <ion-col>
      <input type="radio" id="1" value="savings" name="choice" #savings>
      <label for="1" class="radio-button">Savings</label>
    </ion-col>
    <ion-col>
      <input type="radio" id="2" value="current" name="choice" #current>
      <label for="2" class="radio-button">Current</label>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>   
</ion-radio-group>
</div>

  <!-- <ion-item>
    <ion-label>Savings</ion-label>
    <ion-radio value="savings" slot="start" type="radio"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Current</ion-label>
    <ion-radio value="current" slot="start"></ion-radio>
  </ion-item> -->

<p class="grey">Branch IFSC Code</p>

<ion-item class="IFSC">
  <ion-input name="IFSC_Code"
             placeholder="ICICI000012" 
             type="text"
             #mysecretpassword 
             class="enter-pan-input">{{IFSC_Code}}
             
  </ion-input>

<ion-text class="grey">Find IFSC</ion-text>
</ion-item>
<p class="eg">Example AAAA33802</p>

<ion-footer id="divfix">
  <ion-icon name="lock" id="img"></ion-icon>
  <p class="grey-footer" >Your Bank Account Details are safe with us</p>
  <ion-button class="btn" routerLink="/bank2" expand="block">Confirm & Continue</ion-button>
</ion-footer>

