.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.pb{
    color: green;
}
.aba{
    font-family:"Muli-Bold";
    padding: 12px 0px 12px 0px;
}
.aba-details{
    font-family: "Muli-Regular";
    padding: 0px 0px 16px 0px;
}
.grey{
    color: #b2b2b2;
    font-family: "Muli-Regular";
    font-size: 10px;
}
.rg{
    padding: 0px 0px 10px 0px;
}
.eg{
    color: #b2b2b2;
    font-family: "Muli-Regular";
    padding: 0px 0px 165px 0px;
    font-size: 10px;
}
.btn{
    text-transform: none; 
    font-family: "Muli-Regular";
    height: 40px;
}

.ftr{
    padding: 10px;
}
.grey-footer{
    color: #b2b2b2;
    font-family: "Muli-Regular";
    font-size: 10px;
    text-align: center;
}
.radio-button{
    padding: 0px 0px 5px 10px;
    vertical-align: baseline;
}
.input{
    border-color: #003399;
    height: 56px;
}
#img{
    height: 5px;
    width: 5px;
}

.IFSC{
    height:40px;
    border-radius: 3px;
    font-family: "Muli-Regular";
    font-size: 12px;
    border-color: lightseagreen;
}
#divfix{
    bottom: 0;
    position: fixed;
    z-index: 3;
    padding: 0px 20px 0px 0px;
}
