<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/LumpsumTransaction">
        <ion-icon name="chevron-back-outline" class="btn-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title><h6>Setup Investment Account</h6></ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/enter-pan">
        <ion-icon name="close" class="btn-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-progress-bar value="0.5819" color="success"></ion-progress-bar>
</ion-header>

<ion-content class="outer-content" [fullscreen]="true">
  
  <div class="div-yourprogress">
   <div class="ion-padding"> 
    <strong> Your signature </strong>
    <p> Signature is mandatory to submit KYC details. </p>
  </div>
  <ion-card class="main-card">
    <div class="img-div">
      <img src="assets/Images/Manual_Sign.svg" alt="Manual_Sign.svg">
      <ion-button expand="outline" class="card-btn" (click)="esign2()">
        Tap here to sign manually on blank screen
      </ion-button>
    </div>

    <img src="assets/Images/Or3.png" alt="Or3.png">

    <div class="img-div">
      <img src="assets/Images/Upload_Sign.svg" alt="Upload_Sign.svg">
      <p class="how-to">Sign on a white paper, take a photo of your signature & upload it.</p>
      <ion-button expand="outline" class="card-btn" (click)="esign2()" style="font-size:14px">
        Upload Signature
      </ion-button>
    </div>
  </ion-card>
  </div>
 
</ion-content>

<span class="btn-bottom">
  <ion-button expand="block" (click)="esign2()" class="ion-button1">Continue</ion-button>
</span>
