<ion-header>
  <ion-toolbar>
    <ion-title>gold1v1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.jpg" alt="avatar">
    </ion-avatar>
    <ion-label>
      <h3>hey, Puru</h3>
      <p>Investment Ready</p>
    </ion-label>
  </ion-item>
  <img src="app/Gold/gold1v1/Images/main.svg" alt="main">
</ion-content>

<ion-footer>
  <ion-button expand="block" routerLink="/gold2v1">Next</ion-button>
</ion-footer>
