
.div-yourprogress{
    align-items: center;
    text-align: center;
    font-family: "Muli-Bold";
    font-size: 14px;
}

.btn-bottom{
    padding: 10px;
}

.ion-button2{
    text-transform: none;
    width: 145px;
    height: 45px;
}