<app-header></app-header>

<ion-content class="SupperAppLandingPage" *ngIf="SupperAppLandingPage">
    <!-- <app-header></app-header> -->
    <div class="SupperAppLandingPageContentHolder">
        <h1 class="greetingTitle">{{greeting}}</h1>
        <p class="greetingDesc">{{recommendedAction}}</p>
        <app-all-wellness class="cc_accordian"></app-all-wellness>
        <!-- <app-wealth-wellness class="cc_accordian"></app-wealth-wellness> -->
        <!-- <app-health-wellness class="cc_accordian"></app-health-wellness> -->


    </div>
    <!-- <ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let item of data; index as i">
            <ion-col size="1">{{ i+ 1 }}</ion-col>
            <ion-col size="3"> {{ item.templateName }}</ion-col>
            <ion-col size="3"> {{ item.headerData }}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

</ion-content>

<!-- The Modal -->
<!-- <div id="SMGSuccessGmail" class="modal" *ngIf="showModal">

    <div class="modal-content" (click)="close()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p>You are now logged in</p>
        <p>supperapp@gmail.com</p>
    </div>

</div> -->


<!-- The Modal -->
<!-- <div id="showModalSMGSuccesPhone" class="modal" *ngIf="showModalSMGSuccesPhone">

    <div class="modal-content" (click)="close();">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p>You are now logged in with +91 {{EnteredMobileNumber}}</p>
    </div>

</div> -->

<!-- The Modal -->
<!-- <div class="modal" *ngIf="showInteractiveModal">
    <div class="interactive-modal-content">
        <span class="closeInteractive" (click)="closeInteractiveModal();">&times; Close </span>
        <ion-card (click)="openInteractiveAdd();">
            <img src="../assets/Images/interactive_sample.jpg">
        </ion-card>

    </div>
</div> -->

<div [style.display]="isVisible ? 'block' : 'none'">
    <div class="interactive-modal-content" id="interactiveModelSL" >
      <span class="closeInteractive" (click)="closeInteractiveModal();">&times; Close </span>
      <ion-card (click)="openInteractiveAdd();">
        <img src="../assets/Images/interactive_sample.jpg">
      </ion-card>
    </div>
  </div>

<div class="modal" *ngIf="runGif">
    <audio autoplay>
      <source src="../assets/alert_tone/hey_torus.mp3" type="audio/mpeg">
    </audio>
    <div class="interactive-modal-content">
      <span class="closeInteractive" (click)="closeInteractiveModal();">&times; Close </span>
      <ion-card (click)="openInteractiveAdd();">
        <img src="../assets/gif_anim/speechrecognitionview.gif">
      </ion-card>
    </div>
  </div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showFab">
    <ion-fab-button id="myFabSL" (click)="fabClick()" ion-long-press [interval]="400" (pressed)="pressed()"
        (longPressed)="active()" (pressEnded)="released()" size="small">
        <ion-img src="../assets/Images/torus_logo_transperent_svg.svg"></ion-img>
    </ion-fab-button>
</ion-fab>