<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start" class="blue">
      <ion-button routerLink="/gold18v1">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="Pay_header">Payment Confirmation</ion-title>

    <ion-buttons slot="end" class="blue">
      <ion-button routerLink="/gold25v1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding outer-content Muli_Regular" fullscreen="true">
  <div class="center">
    <ion-icon name="checkmark-circle-outline" class="checkmark"></ion-icon>
    <p class="great">You have invested in Gold!</p>
    <p class="great">₹ 10000 </p>
    <p class="grey"> Gold can only be sold after 2 working days </p>
  </div>

  <ion-card class="ion-padding font-12 Muli_Regular">

    <div class="div-padding">
      <ion-text><strong>Augmont Digital Gold</strong></ion-text>
      <br>
      <ion-text>16 Mar 2021</ion-text>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2.5"><div class="div-padding">Units<br><strong>0.0216</strong></div></ion-col>
        <ion-col size="4"><div class="div-padding">Buy Price/gm<br><strong>₹4632.90</strong><br>+₹3.00 GST</div></ion-col>
        <ion-col size="5.5"><div class="div-padding">Transaction Type<br><strong>Buy</strong></div></ion-col>
      </ion-row> 
    </ion-grid>

  <div class="div-padding">
    <ion-text>Transaction ID</ion-text>
    <br>
    <ion-text><strong>A-Hm-FH347-FGHK-347928</strong></ion-text>
    <img src="assets/Images/copy_paper.svg" alt="copy_paper" class="div-padding">
  </div>
  </ion-card>

</ion-content>

<ion-footer class="ftr" lines="none">
  <ion-row>

<ion-col>
    <ion-button class="btnGold" routerLink="/gold18v1" fill="outline" expand="block">Track Order</ion-button>
</ion-col>
<ion-col>

    <ion-button class="btnGold" routerLink="/gold25v1" expand="block">Robo Assist</ion-button>
</ion-col>

  </ion-row>
</ion-footer>