<app-search-header></app-search-header>
<ion-content class="searchContent">
  <div class="search">
    <h2 class="mainLabel">Quick Search <span>Reset</span></h2>
    <p class="subTitle">Fund Category</p>

    <ion-row class="btnRow">
      <ion-button fill="outline" [ngClass]="isClicked() ? 'btn red': 'btn'"  id="btnEq" (click)="onClick()">
        <p>
          Equity
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          Hybrid
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          Debt
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          Tax Saver
        </p>
      </ion-button>
    </ion-row>

    <p class="subTitle">Fund Type</p>

    <ion-row class="btnRow">
      <ion-button fill="outline">
        <p>
          Growth
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          Dividend
        </p>
      </ion-button>
    </ion-row>

    <p class="subTitle">Minimum Investment</p>

    <ion-row class="btnRow">
      <ion-button fill="outline">
        <p>
          &#60; &#61; <span>&#8377;</span>500
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          <span>&#8377;</span>500 - <span>&#8377;</span>2000
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          &#62; <span>&#8377;</span>2000
        </p>
      </ion-button>
    </ion-row>

    <p class="subTitle">Rated By</p>

    <ion-row class="btnRow">
      <ion-button fill="outline">
        <p>
          Morningstar
        </p>
      </ion-button>
      <ion-button fill="outline">
        <p>
          Value Research
        </p>
      </ion-button>
    </ion-row>

    <p class="subTitle">Rating</p>

    <ion-row class="btnRow">
      <ion-button fill="outline">
        <img src="https://cdn.zeplin.io/60a5fc059289442bc47e7527/assets/f1928869-c362-4b70-90ed-6bbbce87b768.svg">
      </ion-button>

    <ion-button fill="outline">
      <img src="https://cdn.zeplin.io/60a5fc059289442bc47e7527/assets/3c2dd6ce-7164-4c58-ab03-b7abe86a8d3c.svg">
    </ion-button>

    <ion-button fill="outline">
      <img src="https://cdn.zeplin.io/60a5fc059289442bc47e7527/assets/92b34f54-1986-4cd2-8714-e6f40f5c7e12.svg">
    </ion-button>

    <ion-button fill="outline">
      <img src="https://cdn.zeplin.io/60a5fc059289442bc47e7527/assets/0f817808-ac8f-44d8-a2ba-2c186baaa643.svg">
    </ion-button>

    <ion-button fill="outline">
      <img src="https://cdn.zeplin.io/60a5fc059289442bc47e7527/assets/bfe9d61e-514a-4cbd-9885-275bf213d617.svg">
    </ion-button>

    </ion-row>

    <ion-button class="viewAllBtn" type="submit" expand="block" color="secondary">View All</ion-button>

  </div>
  
</ion-content>