.toolbar{
    text-align: center;
}

.footer-button{
    text-transform: none;
}

.ion-card{
    display: inline-block;
    position: relative;
    top: auto;
}

div.ion-card:hover{
    color: lightblue;
}