<app-mf-page-header></app-mf-page-header>

<ion-content>
  <div class="mfpagedetails">
    <div *ngIf="productDetails != null">
      <div class="mgProductDetails">
        <ion-row>
          <ion-col size="2">
            <img src={{productDetails[0].productLogo}} alt="">
          </ion-col>
          <ion-col class="prodTCol" size="10">
            <div class="prodTDiv">
              <h2>{{productDetails[0].productName}}</h2>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="btnRow">
          <ion-button fill="outline" *ngFor="let benefitsBtn of productDetails[0].benefits">
            <p>
              {{benefitsBtn.labels}}
            </p>
          </ion-button>
        </ion-row>

        <ion-card class="productGraph">
          <img src="../../../assets/Images/product_details_graph.png" alt="">
        </ion-card>

        <ion-card class="productGraph">
          <img src="../../../assets/Images/product _details_rate_fsize.png" alt="">
        </ion-card>

      </div>



      <div class="footerModal" *ngIf="!plsBtnToggle" (click)="divCartMenuClick()">
        <div class="fromBottomDiv" *ngIf="myLabels != null">
          <ion-card class="cartingMenu" (click)="menuActionCall('sip')" *ngIf="!plsBtnToggle">
            <ion-row>
              <img src="{{myLabels.icon1}}" alt="">
              <p>{{myLabels.btnName1}}</p>
            </ion-row>
          </ion-card>

          <ion-card class="cartingMenu" (click)="menuActionCall('cart')" *ngIf="!plsBtnToggle">
            <ion-row>
              <img src="{{myLabels.icon2}}" alt="">
              <p>{{myLabels.btnName2}}</p>
            </ion-row>
          </ion-card>

          <ion-card class="cartingMenu" (click)="menuActionCall('compare')" *ngIf="!plsBtnToggle">
            <ion-row>
              <img src="{{myLabels.icon3}}" alt="">
              <p>{{myLabels.btnName3}}</p>
            </ion-row>
          </ion-card>

          <ion-card class="cartingMenu" (click)="menuActionCall('share')" *ngIf="!plsBtnToggle">
            <ion-row>
              <img src="{{myLabels.icon4}}" alt="">
              <p>{{myLabels.btnName4}}</p>
            </ion-row>
          </ion-card>

        </div>
      </div>
    </div>
  </div>
</ion-content>

<div class="footerDiv">

  <ion-row class="footerRow" *ngIf="myLabels != null">
    <ion-col class="plsBtnCol" size="2" (click)="plsBtnClick()">
      <ion-card fill="outline">
        <img *ngIf="plsBtnToggle" src="{{myLabels.plsBtnToggle}}" alt="">
        <img *ngIf="!plsBtnToggle" src="{{myLabels.cancelBtnToggle}}" alt="">
      </ion-card>
    </ion-col>

    <ion-col class="investBtnCol" size="10" (click)="investNow()">
      <ion-button fill="solid" expand="block">
        <p>
          {{myLabels.btnInvest}}
        </p>
      </ion-button>
    </ion-col>
  </ion-row>
</div>


<div class="footerModal" *ngIf="addCartToggle" (click)="divAddCartClick('divAddBack')">
  <div class="addCart-modal-content" (click)="divAddCartClick('divAddFront')" *ngIf="myLabels != null">
    <p class="modalTitle">{{myLabels.addToCartModel[0].title}}</p>

    <div class="divSelect">
      <ion-row>
        <ion-col size="3">
          <p class="pMI">{{myLabels.addToCartModel[0].intestType1}}</p>
        </ion-col>

        <ion-col size="6">
          <ion-segment value="lumpsum" mode="ios">
            <ion-segment-button value="sip">
              {{myLabels.addToCartModel[0].intestTypeVal1}}
            </ion-segment-button>
            <ion-segment-button value="lumpsum">
              {{myLabels.addToCartModel[0].intestTypeVal2}}
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col size="3">
          <p class="pOTI">{{myLabels.addToCartModel[0].intestType2}}</p>
        </ion-col>
      </ion-row>
    </div>

    <div class="amountDiv">
      <p class="enterAmountLabel">{{myLabels.addToCartModel[0].enterAmLabel}}</p>
      <input type="text" value={{amount}} />
      <p class="minimumAmountLabel">{{myLabels.addToCartModel[0].minLimit}}<span>&#8377;</span>1,000</p>
    </div>


    <ion-row class="fastAmountDiv">
      <ion-col size="2.3" (click)="updateAmount('₹1,000')">
        <p><span>&#8377;</span>1,000</p>
      </ion-col>

      <ion-col size="2.3" (click)="updateAmount('₹2,000')">
        <p><span>&#8377;</span>2,000</p>
      </ion-col>

      <ion-col size="2.3" (click)="updateAmount('₹5,000')">
        <p><span>&#8377;</span>5,000</p>
      </ion-col>

      <ion-col size="2.3" (click)="updateAmount('₹10,000')">
        <p><span>&#8377;</span>10,000</p>
      </ion-col>
    </ion-row>

    <div class="divbottomTndC">
      <ion-item lines="none" text-wrap>
        <ion-checkbox color="secondary" checked slot="start"></ion-checkbox>
        <ion-label text-wrap class="cc_NoLabel">{{myLabels.addToCartModel[0].tncLabel1}}<a href="{{myLabels.addToCartModel[0].tncLabel2}}">{{myLabels.addToCartModel[0].tncLabel3}}</a>
        {{myLabels.addToCartModel[0].tncLabel4}}<br><a href="{{myLabels.addToCartModel[0].tncLabel5}}">{{myLabels.addToCartModel[0].tncLabel6}}</a>{{myLabels.addToCartModel[0].tncLabel7}}</ion-label>
      </ion-item>

      <ion-row class="buttonRow">
        <ion-col class="addCartCol" size="6">
          <ion-button fill="outline" (click)="addToCartBtn()">
            <ion-row>
              <img class="imgCart" src="{{myLabels.addToCartModel[0].icon1}}" />
              <p>{{myLabels.addToCartModel[0].btnName1}}</p>
            </ion-row>
          </ion-button>
        </ion-col>

        <ion-col class="investNowCol" size="6">
          <ion-button fill="solid" expand="block" (click)="investNowBtn()">
            {{myLabels.addToCartModel[0].btnName2}}
          </ion-button>
          
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>