<ion-header>

  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-button (click)="goToRobo3()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Robo Advisory 4</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/robo5">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content full class="ion-padding">
  <div class="outer-content">
  This is the 4th Page of Robo Advisory
  </div>
 <div class="container">Enter Your Name</div>
</ion-content>

<ion-footer>

    <ion-button expand="block" (click)="goToRobo1()">
      Home
    </ion-button>

</ion-footer>
