<!-- 
<ion-header class="h">

    <ion-icon name="chevron-back-outline" class="i1"></ion-icon>
    <ion-text class="t">Setup Investment Account</ion-text>
    <ion-icon name="close" class="i2"></ion-icon>
   
</ion-header> -->
<ion-header class="header">
  
  <span  class="a" lines="none">

    <ion-row>
    
          <ion-button fill="none" style="color:blue;">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>

          <span class="toolbarTitle">Setup Investment Account</span>
  
          <ion-button  fill="none" style="color:#003399;">
            <ion-icon name="close"></ion-icon>
          </ion-button>

    </ion-row>
     
  </span>

</ion-header>
<ion-content fullscreen="false" class="outer-content">

  <p class="p1">Confirm your details</p>

<div class="i">
  <ion-input placeholder="******338L" type="password" #abc class="pan-input"></ion-input>
</div>

<div class="verified">
<img src="assets/Images/confirmpan/green_tick.svg">
<ion-label class="label">PAN is KYC Verified</ion-label>
</div>

<p class="p2">
  Great! we have verified your PAN card with KYC registration agency (NDLM) 
  & following details are available
</p>

<div class="avatar">
<ion-col>
  <ion-avatar class="block1">
    <img src="assets/icon/card.svg">
  </ion-avatar>
</ion-col>
<ion-col>
  <ion-label class="block2"> 
    <p>Name as per PAN</p>
    <h3>PRATIK VASANT GOSWAMI</h3>
  </ion-label>
</ion-col>
</div>
<!-- <div class="div-radio">
  <ion-radio allow-empty-selection="true" (click)="ionChange"></ion-radio><ion-label>I am an Indian Resident</ion-label>
</div>
<div class="div-radio">
  <ion-radio allow-empty-selection="true" (click)="ionChange"></ion-radio><ion-label>I am an NRI</ion-label>
</div> -->

<div class="safe">

<div class="div-radio">
  <ion-row class="row">
  <input type="radio" id="1" name="choice" ><label for="1" style="padding: 2px 2px 2px 2px;">I am an Indian Resident</label>
  </ion-row>
</div>
<div class="div-radio">
  <ion-row class="row">
  <input type="radio" id="2" name="choice"><label for="2" style="padding: 2px 2px 2px 2px;">I am an NRI</label>
  </ion-row>
</div>

</div>

</ion-content>

<div class="safe">

  <ion-col>
    <img src="/assets/icon/lock.svg" alt="secure" id="img">
  </ion-col>

  <ion-col id="PANcardDetails">
    Your PAN card details are safe with us
  </ion-col>

</div>

<!-- <ion-button class="b" (click)="pushPage1()">Confirm & Continue</ion-button> -->

<div style="margin: 10px;">
  <ion-button type="submit" expand="block" (click)="pushPage1()">Confirm & Continue</ion-button>
</div>

