.title{
    align-items: center;
}

div.form{
    padding: 0px 20px 0px 20px;
}
div.note{
    align-items: left;
    font-family: "Muli-Regular";
}

.input{

    font-family: "Muli-Bold";
}

.strong{
    font-family: "Muli-Bold";
}



.ion-card{
    width:50px fixed;
}

.ra-card{
    width:50px fixed;
}

.toolbar{
    text-align: center;
  }