<ion-header>

  <ion-toolbar>
    <ion-title>header-cart-badge</ion-title>
    <ion-icon name="cart" slot="end" routerLink="cart" class="ion-padding"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">

  <ion-button fill="block" expand="outline" routerLink="cart">Cart</ion-button>

  <p>
    <span matBadge="10">Badge Text</span>
  </p>

  <!-- <mat-icon matBadge="10" matBadgeSize="small">
    notifications
  </mat-icon> -->

<!-- <mat-card>
    <mat-icon [matBadge]="badgeCounter" matBadgeSize="small">
      notifications
    </mat-icon>
    <br/>
    <button mat-raised-button (click)="incrementCount()">+</button>
    <button mat-raised-button (click)="decreaseCount()">-</button>
    <button mat-raised-button (click)="resetCount()">reset</button>
</mat-card> -->

<ion-button fill="block" expand="">Increase</ion-button>

</ion-content>
