.blue{
    color:#003399;
}
.header{
    text-align:center;
    align-items:auto;
    .a{
        padding:0%; 
        height:42px;
        margin:0px;
        .toolbarTitle{
            font-size:14px;
            font-family: "Muli-Bold", sans-serif !important;
            align-items: center;
            padding: 16px 16px 16px 16px;
            margin: 0px;
            height: 12px;
            white-space: nowrap ;
            color: black;
        }
    }
}
.authorize
{
    color:#707070;
    padding: 12px;
    padding-top: 2%;
    font-size: 11px;
}

.authorize-paragraph{
    font-size:9px; 
    margin:0; 
    padding:0px 70px 0px 0px; 
    color:#707070;
    font-family: "Muli-Regular";
}

#grad 
{
    background-image: linear-gradient(to right,#003399 ,#44c8f5);
    padding: 5%;
    height:155px;
    border-radius: 5px;
}

div.safe{
    color: grey;
    padding-left: 12px;
    padding-right: 12px;
    color: #b2b2b2; 
    text-align: center; 
    font-size: 8px;
    font-family: "Muli-Regular";
}

#img{
    position: relative;
    vertical-align: bottom;
    height: 15px;
    width: 15px;
    padding: 0%;
}

.a{
    color:white; 
    background:#44c8f5; 
    border-radius: 5px;
    font-size: 11px;
}

// .btn-div{
//     padding-bottom: 12px;
//     padding-left: 12px;
//     padding-right: 12px;
//     font-family:"Muli-Bold";
//     height:34px;
// }
.b{
    padding: 0px 12px 12px 12px;
    height: 50px;
    font-size: 11px;
}
.eyp{
    text-align:left; 
    color:white;
    padding-left: 0%;
    font-family: "Muli-Bold";
    font-size: 14px;
}

.eyp-input{
    height:40px;
    border-radius: 3px;
    font-family: "Muli-Regular";
    font-size: 12px;
    align-items: center;
}

.input-native::after{
    padding: 0px 0px 0px 0px;
    height:54px;
}

.pim{
    text-align:left;
    text-emphasis: none;
    color:white;
    padding: 10px;
    padding-left: 0%;
    font-family: "muli-regular";
    font-size: 11px;
}
.strong{
    padding-left: 12px;
    padding-right: 12px; 
    padding-top:2%; 
    padding-bottom: 2%;
    font-family: "Muli-Regular";
    font-size: 11px;
}

.OrScan{
    text-align:centre; 
    color:white; 
    font-family:muli-bold; 
    font-size:10px;
}

#PANcardDetails{
    padding:0%;
    font-family: "Muli-Regular";
}

#img-qr{
    position:relative;
    color: auto;
    padding-left: 2px;
    padding-right: 2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.eye{
    padding-left:2%;
    width: 14px;
    height: 11px;
}

.ion-item{
    .enter_pan_input{
        background:white; 
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
        height: 20px;
        width: 280px;
    }
}

.ic{
    height:14px; 
    width:14px; 
    padding:0px 0px 0px 0px;
}

