<ion-header>
  <ion-toolbar>

  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="chevron-back-outline" class="darkish_blue"></ion-icon>
    </ion-button>
  </ion-buttons>
  
    <ion-title class="Muli_Bold">My Cart</ion-title>

    <div class="darkish_blue" slot="end">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-text class="Muli_Bold fs-11 ion-padding" (click)="editCart()">Edit Cart</ion-text>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <div class="ion-padding">
   
          <ion-card class="Muli_Regular" *ngFor="let card of GC" class="card-fs">
            <ion-grid class="Muli_Regular">
              <ion-row>

                <ion-col [size]="'4'">
                  <ion-text><strong class="fs-15">{{card?.title}}</strong></ion-text> <br>
                  <ion-text>Qty {{card?.Quantity}}</ion-text>
                </ion-col>

                <ion-col [size]="'5'">
                  <ion-text>CMP ₹{{card?.CMP}}</ion-text> <br>
                  <ion-text *ngIf="card.Price == 'Mkt'">Price {{card?.Price}}</ion-text>
                  <ion-text *ngIf="card.Price != 'Mkt'">Price ₹{{card?.Price}}</ion-text>
                </ion-col>

                <ion-col [size]="'3'" class="_3c">
                  <ion-text>Amount</ion-text> <br>
                  <ion-chip *ngIf="card.Amount == 'Market'" class="atc-chip">{{card?.Amount}}</ion-chip>
                  <ion-text *ngIf="card.Amount != 'Market'"><strong class="fs-15">₹{{card?.Amount}}</strong></ion-text>
                </ion-col>

              </ion-row>
            </ion-grid>
           
     
            <ion-chip class="atc-chip half">{{card?.category}}</ion-chip>


          </ion-card>
      

    </div>


</ion-content>
