<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/bank2">
        <ion-icon name="chevron-back-outline" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Setup Investment Account</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank4">
        <ion-icon name="close" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding outer-content">
  <div class="center">
<ion-title>Verifying Bank Account</ion-title>
<ion-subtitle class="is">You may see a credit of 1 rupee</ion-subtitle>
</div>
<p class="">
  Please wait while we verify your bank account
</p>
<!-- <ion-row>
  <ion-col>
    <input type="radio" id="1" value="savings" name="choice" #savings>
    <label for="1" class="radio-button">Savings</label>
  </ion-col>
  <ion-col>
    <input type="radio" id="2" value="current" name="choice" #savings>
    <label for="2" class="radio-button">Current</label>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row>    
<ion-row>
  <ion-col>
    <ion-label>Savings</ion-label>
    <ion-radio value="savings" id="1" slot="start" type="radio" name="choice"></ion-radio>
  </ion-col>
  <ion-col>
    <ion-label>Current</ion-label>
    <ion-radio value="current" id="2" slot="start" type="radio" name="choice"></ion-radio>
  </ion-col>
  <ion-col>
  </ion-col>
</ion-row> -->



<ion-footer class="ftr">
  <ion-card class="center">
    <ion-title class="blue">Did You Know?</ion-title>
    <ion-subtitle>As per SEBI, an investor can invest only using his own bank account.</ion-subtitle>
  </ion-card>
  <ion-button class="btn" routerLink="/bank4" expand="block">Bank 4</ion-button>
</ion-footer>