.toolbar{
    text-align: center;
}
.blue{
    color:#003399;
}
.btn{
    text-transform: none; 
    height: 40px;
}
.ftr{
    padding: 0px 20px 0px 0px;
    position: fixed;
    bottom: 0;
}
.center{
    text-align: center;
    font-family: "Muli-Bold";
    
}
.is{
    color: grey;
    font-size: 12px;
}