<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/gold4">
        <ion-icon name="chevron-back-outline" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Gold 25 v1</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/gold2">
        <ion-icon name="share" class="blue"></ion-icon>
      </ion-button>
      <ion-button routerLink="/gold3">
        <ion-icon name="cart" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ftr">
  <ion-button class="btn" routerLink="/gold1" expand="block">Continue To Account Setup</ion-button>
</ion-footer>
