.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}

.label{
    font-family: "Muli-Bold";
    padding: 0px 0px 0px 12px;
    font-size: 20px;
}

.MuliSemiBold{
    font-family: "Muli-SemiBold";
    font-size:12px;
}
.MuliBold{
    font-family: "Muli-Bold";
    font-size: 13px;
    padding: 0px 0px 0px 0px;
}
.SubTitle {
    margin: 5px 0px 5px 0px; 
    padding: 0px;
    color: #727682;
    font-size: 11px;
    font-family: "Muli-Regular";
}

.warm-grey-10{
    color: #707070;
    font-size: 10px;
    font-family: "Muli-Regular";
}
.menuTitle{
    padding: 5px 0px 5px 0px;
}
.childTitleGold {
    margin: 0px;
    padding: 0px;
    color: #151b2e;
    width: 100%;
    font-size: 12px;
    font-family: "Muli-Regular";
}