<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start" class="blue">
      <ion-button routerLink="/gold18v1">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="Pay_header">Investment Details</ion-title>

    <ion-buttons slot="end" class="blue">
      <ion-button routerLink="/gold25v1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="Muli_Bold ion-padding">

    <ion-row>
    Augment Digital Gold
  </ion-row>

  <ion-row>
    <ion-col>
  <ion-row class="fs-12 grey">Total Invested Amount</ion-row>
  <ion-row>₹ 4,892.50</ion-row>
</ion-col>

    <ion-col>
  <ion-row class="fs-12 grey">Total Quantity</ion-row>
  <ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>
  
</ion-card>



<ion-label class="ion-padding Muli_Bold">Transactions</ion-label>

<ion-card class="Muli_Bold ion-padding">

  <ion-row >
    <ion-col>
  <ion-row class="fs-12 grey">Total Invested Amount</ion-row>
  <ion-row>₹ 4,892.50</ion-row>
</ion-col>

    <ion-col>
  <ion-row class="fs-12 grey">Total Quantity</ion-row>
  <ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
<ion-row class="fs-12 grey">Total Invested Amount</ion-row>
<ion-row>₹ 4,892.50</ion-row>
</ion-col>

  <ion-col>
<ion-row class="fs-12 grey">Total Quantity</ion-row>
<ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
<ion-row class="fs-12 grey">Total Invested Amount</ion-row>
<ion-row>₹ 4,892.50</ion-row>
</ion-col>

  <ion-col>
<ion-row class="fs-12 grey">Total Quantity</ion-row>
<ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
<ion-row class="fs-12 grey">Total Invested Amount</ion-row>
<ion-row>₹ 4,892.50</ion-row>
</ion-col>

  <ion-col>
<ion-row class="fs-12 grey">Total Quantity</ion-row>
<ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>



<ion-row>
  <ion-col>
<ion-row class="fs-12 grey">Total Invested Amount</ion-row>
<ion-row>₹ 4,892.50</ion-row>
</ion-col>

  <ion-col>
<ion-row class="fs-12 grey">Total Quantity</ion-row>
<ion-row>20.043 gm</ion-row>
</ion-col>
</ion-row>
  
</ion-card>



<!-- <div *ngFor="row of rows" class="ion-padding"> -->



</div>





</ion-content>
