.toolbar{
    text-align: left;
    font-family: "Muli-Bold";
}
.Pay_header{
    font-family: "Muli-Bold";
    font-size: 16px;
}
.btnGold{
    text-transform: none; 
    height: 40px;
}
.ftr{
    padding: 10px;
}
.center{
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 0px 0px 0px 0px;
}
.padding-left-8{
    align-items: left;
    text-align: left;
    vertical-align: left;
    padding: 0px 0px 0px 0px;
}
.great{
    font-family: "Muli-Bold";
    font-size: 20px;
}
.checkmark{
    height:70px;
    width: 70px;
    color: #29AD00;
}
.font-12{
    font-size: 12px;
}
.ib{
    position: fixed;
    display: auto;
    width: 100%;
}
.div-padding{
    padding: 5px 5px 5px 5px;
}


.btn1{
    border-radius: 5px;
    text-transform: none;
    font-family: "Muli-Bold";
}

.battleship_grey{
    color: #727682;
    font-size: 12px;
}

.warm_grey{
    color:#707070;
    font-size: 10px;
}

.Muli_Regular{
    font-family: "Muli-Regular";
}

.Muli_SemiBold{
    font-family: "Muli-SemiBold";
}

.modalRight{
    text-align: right;
    align-items: right;
}

.size-img-34{
    height: 34px;
    width: 34px;
}

.radio-group{
    padding: 0px 0px 0px 0px;
}
.img{
    padding: 0px 0px 0px 12px;
}

.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.padding-left-8{
    padding: 0px 0px 0px 8px;
}
.padding-0-0-5-5{
    padding: 0px 0px 5px 5px;
}

.common-margin{
    padding: 0px 0px 10px 0px; 
}
.newdiv{
    padding: 0px 0px 0px 15px;
}
.radioDetails{
    margin: 0px 0px 0px 0px;
}




.Muli_Bold{
    font-family: "Muli-Bold";
}

.fs-10{
    font-size: 10px;
    vertical-align: center;
    align-items: center;
}

.grey{
    color: lightgrey;
}


.faded_red{
    color:#d23d50;
}

.success{
    color: #29ad00;
}




.t{
    margin: 30px;
}

::placeholder {
    color: blue;
    font-size: 1.5em;
  }


  .span{
      display: flex;
  }