<ion-header>
  

  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="currentStatus != 'successContainer'">
      <ion-button>
        <ion-icon class="fw-bold" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mt-2" *ngIf="currentStatus != 'successContainer'">
      <h4 class="customFont" [ngClass]="(currentStatus === 'Digilocker' || currentStatus === 'nonDigilocker')?'digiFont':''">{{headerName}}</h4></ion-title>
    <ion-buttons slot="end" *ngIf="currentStatus != 'successContainer'">
      <ion-button class="customClose">
        &times;
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-progress-bar color="success" [value]="progressValue" *ngIf="currentStatus != 'successContainer'">

</ion-progress-bar>

<ion-content>

  <div class="customBackgroundColor h-100 w-100 p-4">
      <div class="row h-100" *ngIf="currentStatus === 'successContainer'">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" class="customSvg">
          <circle class="path circle" fill="none" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
          <polyline class="path check" fill="none" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10"
            points="100.2,40.2 51.5,88.8 29.8,67.5 " />
        </svg>
        <div class="col-md-12">
          <h4 class="customFont custTextCenter">Congratulations</h4>
          <h4 class="customFont custTextCenter">Pratik Goswami</h4>
          <p class="customFontRegular custTextCenter svgFont">Start investing in stocks</p>
        </div>
        <div class="col-md-12 customButtonContainer">
          <button  type="button" class="btn custButtonColor w-100 customFont">Explore</button>
        </div>
    </div>
    <div class="row" *ngIf="currentStatus === 'Digilocker' || currentStatus === 'nonDigilocker'">
      <div class="col-md-12">
        <h6 class="customFont custTextCenter">{{digiHeader}}</h6>
        <p class="customFontRegular custTextCenter svgFont">{{digipara}}</p>
      </div>
      <div class="col-md-12 custCart">
        <ion-card>
          <ion-card-header>
            <h4 class="custTextCenter customFont customSpanColor">{{digiSubHeader}}</h4>
          </ion-card-header>
          <ion-card-content class="custIonContent">
            <p class="custTextCenter customFontRegular custSize">{{digiSubPara}}</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col-md-12 customButtonContainer">
        <button  type="button" class="btn custButtonColor w-100 customFont" (click)="showAadhaarContainer()">{{digiButtonText}}</button>
      </div>
    </div>
    <div class="row" *ngIf="currentStatus === 'AccountDetails'">
      <div class="col-md-12">
        <div>
          <span class="customFont custSpanText">Document Type</span>
        </div>
        <select class="form-select p-3 customSelect customFont" aria-label="Document Type">
          <option selected>Select Document Type</option>
          <option value="1">Aadhaar Card</option>
        </select>
      </div>
      <div class="col-md-12 mt-4">
        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-text custBox">@</div>
            <input type="text" class="form-control p-3 customFont custInput" id="autoSizingInputGroup" placeholder="Aadhaar Number">
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3 custTextCenter">
        <span>
          <label class="customFont">Or  </label>
          <span>
              <img class="custImg" src="assets/icon/scan.svg" alt="QR" id="img-qr">
              <label class="customSpanColor fw-bold customFont">Scan ID</label>
          </span>
        </span>
      </div>
      <div class="col-md-12 customButtonContainer">
        <button  type="button" class="btn custButtonColor w-100 customFont" (click)="showMobileOTP()">Proceed for Aadhaar</button>
      </div>
    </div>
  </div>
</ion-content>

<div id="OTPModal" class="modal" *ngIf="showOTPModal">

  <div class="modal-content" *ngIf="aadhaarVerificationHolder">
      <span class="close" (click)="closeOtp();">&times;</span>
      <p class="modalTitle">{{otpLabels[0].otpLabel}}</p>
      <div class="container PhoneVerificationHolder">
          <p>{{otpLabels[0].otpSentOn}} Registered Mobile Number</p>
          <form [formGroup]="PhoneVerificationForm" (ngSubmit)="getOTP()">
              <ion-row>
                  <ion-col class="text-center ion-no-padding">
                      <ion-input class="cc_otp" type="password" formControlName="otp1" #otp1 required="true"
                          maxLength="1" (keyup)="otpController($event,otp2,'')">
                      </ion-input>
                      <ion-input class="cc_otp" type="password" formControlName="otp2" #otp2 required="true"
                          maxLength="1" (keyup)="otpController($event,otp3,otp1)">
                      </ion-input>
                      <ion-input class="cc_otp" type="password" formControlName="otp3" #otp3 required="true"
                          maxLength="1" (keyup)="otpController($event,otp4,otp2)">
                      </ion-input>

                      <ion-input class="cc_otp" type="password" formControlName="otp4" #otp4 required="true"
                          maxLength="1" (keyup)="otpController($event,otp5,otp3)">
                      </ion-input>

                      <ion-input class="cc_otp" type="password" formControlName="otp5" #otp5 required="true"
                          maxLength="1" (keyup)="otpController($event,otp6,otp4)">
                      </ion-input>

                      <ion-input class="cc_otp" type="password" formControlName="otp6" #otp6 required="true"
                          maxLength="1" (keyup)="otpController($event,'',otp5)">
                      </ion-input>

                  </ion-col>
              </ion-row>
              <p class="text-center resentOtp">{{otpLabels[0].resendLable}}</p>
              <ion-button type="submit" expand="block" color="secondary" (click)="showSuccess()">{{otpLabels[0].btnText}}</ion-button>

          </form>
      </div>
  </div>

</div>

<div id="OTPModal1" class="modal" *ngIf="showOTPModal1">
  <div class="modal-content custSucessModal">
  </div>
  <div class="container PhoneVerificationHolder custSucessContainer">
    <div class="col-md-12">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
        <polyline class="path check" fill="none" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10"
          points="100.2,40.2 51.5,88.8 29.8,67.5 " />
      </svg>
      
    </div>
    <div class="col-md-12">
      <h4 class="custTextCenter customFont">Success!</h4>
      <p class="customFontRegular digiFont">We are registering your details with CDSL and stock exchanges. On successful completion you will be notified</p>
    </div>
    <div class="col-md-12 customButtonContainer custSucessButton">
      <button  type="button" class="btn custButtonColor w-100 customFont " (click)="showSucessContainer();">Okay</button>
    </div>
  </div>
</div>
    