ion-fab{
    margin-bottom: 55px;
    ion-fab-button{
        --background: var(--brownish_grey);
        --background-activated: var(--brownish_grey);
        --background-focused: var(--brownish_grey)
    }
    ion-img{
        margin: 7px;
    }
}