<!-- <ion-content>
    <div class="SplashParent">
        <div class="SplashChild">
            <div class="popup text-center">
                <div class=" animated fadeInUp">
                    <img class="zoom-in-zoom-out" src="../../assets/Images/cosmea.gif" />
                </div>
            </div>
        </div>
    </div>
</ion-content> -->


<!-- <ion-content> -->
<div class="SplashParent">
    <div class="SplashChild">
        <div class="popup text-center">
            <div class=" animated fadeInUp">
                <div class="LogoHolder">
                    <div class="logoContent">
                        <img src="../../../assets/Images/Logo_transperent.png">
                        <p>TORUS</p>
                    </div>
                </div>
                <img src="../../assets/Images/ImagesMap.png">
            </div>
        </div>
    </div>
</div>
<!-- </ion-content> -->