

<ion-content *ngIf="LoginWithPhoneHolder">
    <ion-header class="cc_toolbarHeader" no-border *ngIf="LoginWithPhoneHolder">
        <ion-toolbar *ngIf="myLabels;">
            <ion-icon class="cc_back" name="chevron-back-outline" [routerLink]="['../SignUp']"></ion-icon>
            <ion-title>{{myLabels.headerTitle}}</ion-title>
            <ion-buttons style="margin-right: 15px;" slot="end" (click)="GetDynamicData()">
                {{languageType}}
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="container LoginWithPhoneHolder" *ngIf="myLabels;">
        <p>{{myLabels.msg}}</p>
        <form [formGroup]="LoginWithPhoneForm" (ngSubmit)="getMobileNumber()">
            <ion-item lines="none" class="cc_border">
                <ion-label sale floating>+91</ion-label>
                <ion-input type="number" formControlName="MobileNumber" placeholder="{{myLabels.inputHint}}" max="10"
                    required></ion-input>
            </ion-item>
            <p class="">{{myLabels.notifyMsg}}</p>
            <div class="cc_Divbottom">
                <ion-item lines="none" text-wrap>
                    <ion-checkbox checked slot="start"></ion-checkbox>
                    <ion-label text-wrap class="cc_NoLabel">{{myLabels.agreeMsg1}}<a href="#">{{myLabels.agreeMsg2}}</a>
                    {{myLabels.agreeMsg3}}<a href="#">{{myLabels.agreeMsg4}}</a>{{myLabels.agreeMsg5}}</ion-label>
                </ion-item>
                <ion-button type="submit" expand="block">{{myLabels.btnText}}</ion-button>
            </div>

        </form>
    </div>
</ion-content>

<div id="OTPModal" class="modal" *ngIf="showOTPModal">

    <div class="modal-content" *ngIf="PhoneVerificationHolder">
        <span class="close" (click)="closeOtp();">&times;</span>
        <p class="modalTitle">{{otpLabels[0].otpLabel}}</p>
        <div class="container PhoneVerificationHolder">
            <p>{{otpLabels[0].otpSentOn}} {{EnteredMobileNumber}}</p>
            <form [formGroup]="PhoneVerificationForm" (ngSubmit)="getOTP()">
                <ion-row>
                    <ion-col class="text-center ion-no-padding">
                        <ion-input class="cc_otp" type="password" formControlName="otp1" #otp1 required="true"
                            maxLength="1" (keyup)="otpController($event,otp2,'')">
                        </ion-input>
                        <ion-input class="cc_otp" type="password" formControlName="otp2" #otp2 required="true"
                            maxLength="1" (keyup)="otpController($event,otp3,otp1)">
                        </ion-input>
                        <ion-input class="cc_otp" type="password" formControlName="otp3" #otp3 required="true"
                            maxLength="1" (keyup)="otpController($event,otp4,otp2)">
                        </ion-input>

                        <ion-input class="cc_otp" type="password" formControlName="otp4" #otp4 required="true"
                            maxLength="1" (keyup)="otpController($event,otp5,otp3)">
                        </ion-input>

                        <ion-input class="cc_otp" type="password" formControlName="otp5" #otp5 required="true"
                            maxLength="1" (keyup)="otpController($event,otp6,otp4)">
                        </ion-input>

                        <ion-input class="cc_otp" type="password" formControlName="otp6" #otp6 required="true"
                            maxLength="1" (keyup)="otpController($event,'',otp5)">
                        </ion-input>

                    </ion-col>
                </ion-row>
                <p class="text-center resentOtp">{{otpLabels[0].resendLable}}</p>
                <ion-button expand="block" routerLink="/rajat202110281016" (click)="onContinueClick()">{{otpLabels[0].btnText}}</ion-button>

            </form>
        </div>
    </div>

</div>

