
<ion-content class="portfolio" *ngIf="myLabels != null">
  <div class="mfPortfolio">
    <h2 (click)="toggleAccordion(i)">
      {{myLabels.titleLabel}}
    
    </h2>
    
      <img class="cc_hr" src="../../../assets/Images/rectangle_6023.svg">

      <ion-card [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
        <img src="../../../assets/Images/wealth_portfolio.png" alt="">
      </ion-card>

    </div>
    <ion-button expand="block" routerLink="/robo-home" class="button">Robo Advisory</ion-button>
</ion-content>
