<ion-header class="mfpagedetailsheader">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="arrowBackIcon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon class="toolIconRight" name="share-social-outline"></ion-icon>
      <ion-icon class="toolIconRight" name="bookmark-outline"></ion-icon>
      <ion-icon class="toolIconRight" name="cart-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>