<!-- <app-splash-screen></app-splash-screen> -->
<ion-content>
    <ion-slides pager="true" pager="true" #mySlider *ngIf="screen != null">

        <ion-slide class="cc_bg">
            <div class="parent">
                <div class="child">
                    <div class="popup">
                        <div class="loadingScreen animated fadeInUp">
                            <img class="zoom-in-zoom-out" src="{{screen[0].logo}}" />
                            <div class="box"></div>
                            <h1 class="cc_position">{{screen[0].title}}</h1>
                            <h1>{{screen[0].title1}}</h1>
                            <h1>
                                <strong>
                                    {{screen[0].paragraph}}</strong>
                            </h1>
                            <ion-button class="skip " (click)="skip()">{{screen[0].skipLabel}}</ion-button>
                            <ion-button class="next" (click)="swipeNext()">{{screen[0].nextLabel}}</ion-button>

                        </div>
                    </div>
                </div>
            </div>

        </ion-slide>

        <ion-slide>
            <div class="parent">
                <div class="child slide">
                    <div class="popup">
                        <div class="loadingScreen animated fadeInUp">
                            <img class="cc_MarginTop89px" src="{{screen[1].image}}" />
                            <h2>{{screen[1].title}}</h2>
                            <p>{{screen[1].paragraph}}</p>
                            <ion-button class="skip cc_gray" (click)="skip()">{{screen[1].skipLabel}}</ion-button>
                            <ion-button class="next cc_blue" (click)="swipeNext()">{{screen[1].nextLabel}}</ion-button>
                        </div>
                    </div>
                </div>
            </div>


        </ion-slide>

        <ion-slide>
            <div class="parent">
                <div class="child slide">
                    <div class="popup">
                        <div class="loadingScreen animated fadeInUp">
                            <img class="cc_MarginTop89px" src="{{screen[2].image}}" />
                            <h2>{{screen[2].title}}</h2>
                            <p>{{screen[2].paragraph}}</p>
                            <ion-button class="skip cc_gray" (click)="skip()">{{screen[2].skipLabel}}</ion-button>
                            <ion-button class="next cc_blue" [routerLink]="['/SignUp']">{{screen[2].nextLabel}}</ion-button>
                        </div>
                    </div>
                </div>
            </div>


        </ion-slide>


    </ion-slides>

    <!-- <ion-slides [options]="sliderConfig" pager="true" #theSlides class="MarketingScreen" *ngIf="MarketingScreen">
        <ion-slide *ngFor="let screenContent of screen;  
        let i = index;  
        let lst = last; 
        let fst = first;
        ">
            <div class="parent">
                <div class="child slide">
                    <img class="cc_MarginTop89px" src={{screenContent.Image}}/>
                    <h2>{{screenContent.title}}</h2>
                    <p>{{screenContent.paragraph}}</p>
                    <ion-button class="skip cc_gray" (click)="skip()">Skip</ion-button>
                    <ion-button *ngIf="fst" class="next cc_blue" (click)="swipeNext(theSlides, i)">Next</ion-button>
                    <ion-button *ngIf="i" class="next cc_blue" (click)="swipeNext(theSlides, i)">Next</ion-button>
                </div>
            </div>
        </ion-slide>
    </ion-slides> -->
</ion-content>