<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start" class="blue">
      <ion-button routerLink="/gold4">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title">Order Details</ion-title>

    <ion-buttons slot="end" class="blue">
      <ion-button routerLink="/gold18v1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-card class="ion-padding font-12 Muli_Regular">

    <div class="div-padding">
      <ion-text><strong>Augmont Digital Gold</strong></ion-text>
      <br>
      <ion-text>16 Mar 2021</ion-text>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2.5"><div class="div-padding">Units<br><strong>0.0216</strong></div></ion-col>
        <ion-col size="4"><div class="div-padding">Buy Price/gm<br><strong>₹4632.90</strong><br>+₹3.00 GST</div></ion-col>
        <ion-col size="5.5"><div class="div-padding">Transaction Type<br><strong>Buy</strong></div></ion-col>
      </ion-row> 
    </ion-grid>

  <div class="div-padding">
    <ion-text>Transaction ID</ion-text>
    <br>
    <ion-text><strong>A-Hm-FH347-FGHK-347928</strong></ion-text>
    <img src="assets/Images/copy_paper.svg" alt="copy_paper" class="div-padding">
  </div>
  </ion-card>

  <span class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-text class="Muli_Regular">Order Status</ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-text class="squash Muli_Regular">In Progress</ion-text> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </span>

  <mat-stepper labelPosition="bottom" #stepper>

<button mat-button matStepperPrevious>Back</button>
<button mat-button matStepperNext>Next</button>

  </mat-stepper>
  <form [formGroup]="formGroup">
    <mat-stepper formArrayName="formArray" linear>
      <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
        ...
        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
        ...
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      ...
    </mat-stepper>
  </form>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" routerLink="/gold18v1" class="button">
    Continue to Gold 18
  </ion-button>
</ion-footer>