.toolbar{
    text-align: center;
    font-family: "Muli-Regular";
}
.blue{
    color:#003399;
}
.MuliSemiBold{
    font-family: "Muli-SemiBold";
}
.Muli-Bold-14{
    font-family: "Muli-Bold";
    font-size: 12px;
}