<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/bank1">
        <ion-icon name="arrow-back" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Setup Invsetment Account</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank3">
        <ion-icon name="close" class="blue"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>
<ion-progress-bar class="pb"></ion-progress-bar>
<ion-content class="ion-padding outer-content">
  <ion-text class="aba ion-padding">Confirm Bank Details</ion-text>
  <ion-card class="ion-padding">
    <ion-icon name="information-circle-outline" class="icici-icon"></ion-icon>
    <ion-text class="ion-padding icici">ICICI BANK LIMITED</ion-text>
  <div class="padding-bank-card">
    <ion-card-subtitle class="grey">Account Number</ion-card-subtitle>
    <ion-card-title class="t">112233654565432</ion-card-title>
  </div>
  <div class="padding-bank-card">
    <ion-card-subtitle class="grey">IFSC</ion-card-subtitle>
    <ion-card-title class="t">ICICI000012</ion-card-title>
  </div>
  <div class="padding-bank-card">
    <ion-card-subtitle class="grey">Bank Address</ion-card-subtitle>
    <ion-card-title class="t">Shop No. 1 to 05,  Ground Floor, Kinjal Paradise,
       Plot No. 43, Andheri West, Maharashtra, 410210</ion-card-title>
  </div>
  <div class="padding-bank-card">
    <ion-card-subtitle class="grey">Bank Branch</ion-card-subtitle>
    <ion-card-title class="t">Andheri West, Mumbai</ion-card-title>
  </div>
  </ion-card>

  <div class="safe">
  </div>

</ion-content>

<ion-footer class="ftr">
  <ion-button class="btn" routerLink="/bank3" expand="block">Confirm & Continue</ion-button>
</ion-footer>