.toolbar{
    text-align: center;
}
.blue{
    color:#003399;
}
.icici-icon{
    color:red;
    height:35px;
    width: 35px;
    position: relative;
    vertical-align: middle;
}
.icici{
    position: relative;
    vertical-align: middle;
}
.btn{
    text-transform: none;
    height: 40px; 
}
.aba{
    font-family:"Muli-Bold";
}
.ftr{
    padding: 10px;
}
.eyp{
    text-align:left; 
    color:white;
    padding-left: 0%;
    font-family: "Muli-Bold";
    font-size: 14px;
}

.eyp-input{
    height:40px;
    border-radius: 3px;
    font-family: "Muli-Regular";
    font-size: 12px;
    align-items: center;
}
.grey{
    font-size: 11px;
    padding: 2px 0px 2px 0px;
}
.t{
    font-size: 13px;
}
.padding-bank-card{
    padding: 16px 0px 16px 0px;
}