
.main-card{
    height: 420px;
    width: 300px;
    align-items: center;
}

.div-yourprogress{
    align-items: center;
    text-align: center;
    font-family: "Muli-Bold";
    font-size: 14px;
}

.img-div{
    height:180px;
    width:300px;
    padding: 10% 0% 0% 0%;
    align-items:center;
}

body {
    margin: 0;
}
  
#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-btn{
    width: 280px;
    font-size: 11px;
    font-family: "Muli-regular";
    text-transform: none;
    // background-color: #44c8f5;
}

.hr{
    color: blue;
}

.how-to{
    color: #b2b2b2;
    font-family: "Muli-Regular";
    padding: 0px 30px 0px 30px;
    font-size: 12px;
}

.btn-bottom{
    padding: 10px;
    background-color: lightblue;

}

.ion-button1{
    text-transform: none;
    height: 45px;
}

.progress::-webkit-progress-value {
    background: green;
}

