<ion-header>
  <ion-toolbar>
    <ion-title>gold2v1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-label>{{item.text}}</ion-label>
  <ion-label>{{a}}</ion-label> -->
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" routerLink="/gold3v1">Next</ion-button>
</ion-footer>