<ion-header class="supperAppLandingpageHeader">
  <ion-toolbar>
      <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
              <ion-col size="6">
                <h3 class="mfTitle">Mutual Funds</h3>
              </ion-col>
              
              <ion-col>
                  <ion-grid class="ion-no-padding">
                      <ion-row class="ion-no-padding">
                        <ion-col>
                          <div class="notificationDiv" (click)="navigateTo('Search')">
                              <div class="NotificationHolder">
                                  <img src="../../../assets/Images/search.svg">
                              </div>
                              <p>Search</p>
                          </div>
                      </ion-col>
                          <ion-col>
                              <div class="notificationDiv">
                                  <div class="NotificationHolder">
                                      <img src="../../../assets/Images/notification.svg">
                                  </div>
                                  <p>Notification</p>
                              </div>
                          </ion-col>
                          <ion-col>
                              <div class="cardDiv">
                                  <div class="CardHolder">
                                      <img class="imgCart" src="../../../assets/Images/fi_rr_shopping_cart.svg">
                                  </div>
                                  <p class="pCart">My Cart</p>
                              </div>
                          </ion-col>
                      </ion-row>
                  </ion-grid>

              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>