<ion-header translucent>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button (click)="goToRoboHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Robo Advisory 1</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToRobo2()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content" fullscreen> 
  <div class="form">
  
  <form class="input" action="#">

    <ion-item>
      <ion-label>PAN</ion-label>
      <ion-input  type="text" placeholder="Enter Your PAN" required style="border:5px;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >First Name</ion-label>
      <ion-input type="text" placeholder="First Name" id="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Middle Name</ion-label>
      <ion-input type="text" placeholder="Middle Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Last Name</ion-label>
      <ion-input type="text" placeholder="Last Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Date of Birth</ion-label>
      <ion-datetime id="dynamicDisabled" placeholder="DOB"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label >Gender</ion-label>
      <ion-input type="text" placeholder="Male/Female/Transgender/Others"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Occupation</ion-label>
      <ion-input type="text" placeholder="Enter Your Occupation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Company</ion-label>
      <ion-input type="text" placeholder="Enter Your Company"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Enter</ion-label>
      <ion-input placeholder='Your referal code...' #color></ion-input>
    </ion-item>
    
  </form>
  <p class="note">
    Note : PAN is required to check your KYC status, an acronym for "Know your Client".
     SEBI has prescribed certain requirements relating to KYC norms for Financial Institutions &
      Intermediaries to ‘Know’ their Clients. Applicants must be KYC compliant while dealing with 
      any SEBI registered entities. If you are not KYC verified, we will help you complete the process.
  </p>
</div>

</ion-content>

<ion-footer>
  <div>
    <ion-button expand="block" (click)="getFormData()">Submit</ion-button>
    <ion-button expand="block"  routerLink="/robo2">Robo Page 2</ion-button>
  </div>
</ion-footer>
