<ion-header>
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-button routerLink="/bank1">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Bank Account Details 2</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bank3">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding outer-content">
  <ion-card class="ion-padding">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-text class="ion-padding">ICICI Bank Limited</ion-text>

    <ion-card-subtitle class="grey">Account Number</ion-card-subtitle>
    <ion-card-title class="t">112233654565432</ion-card-title>
    <ion-card-subtitle class="grey">IFSC</ion-card-subtitle>
    <ion-card-title class="t">ICICI000012</ion-card-title>
    <ion-card-subtitle class="grey">Bank Address</ion-card-subtitle>
    <ion-card-title class="t">Shop No. 1 to 05,  Ground Floor, Kinjal Paradise,
       Plot No. 43, Andheri West, Maharashtra, 410210</ion-card-title>
    <ion-card-subtitle class="grey">Bank Branch</ion-card-subtitle>
    <ion-card-title class="t">Andheri West, Mumbai</ion-card-title>
  </ion-card>

  <div class="safe">
  </div>

</ion-content>

<ion-footer class="ftr">
  <ion-button class="btn" routerLink="/bank3" expand="block">Bank 3</ion-button>
</ion-footer>