.toolbar{
    text-align: center;
}
.btn{
    text-transform: none; 
}
.ftr{
    padding: 10px;
}
.eyp{
    text-align:left; 
    color:white;
    padding-left: 0%;
    font-family: "Muli-Bold";
    font-size: 14px;
}

.eyp-input{
    height:40px;
    border-radius: 3px;
    font-family: "Muli-Regular";
    font-size: 12px;
    align-items: center;
}
.grey{
    font-size: small;
}
.t{
    font-size: small;
}