<ion-header>

  <ion-toolbar>
    
    <ion-buttons slot="start" class="blue">
      <ion-button routerLink="/gold18v1">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="Pay_header">Investment Details</ion-title>

    <ion-buttons slot="end" class="blue">
      <ion-button routerLink="/gold25v1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<ion-content>

<ion-card class="Muli_Bold ion-padding">

  <ion-row>
    Augment Digital Gold
  </ion-row>

  <ion-row>

    <ion-col>
      <ion-row class="fs-10 grey">Total Invested Amount</ion-row>
      <ion-row>₹ 4,892.50</ion-row>
    </ion-col>

    <ion-col>
      <ion-row class="fs-10 grey">Total Quantity</ion-row>
      <ion-row>20.043 gm</ion-row>
    </ion-col>

  </ion-row>
  

</ion-card>



<ion-label class="ion-padding Muli_Bold">Transactions</ion-label>



<ion-card class="Muli_Bold ion-no-padding">
 
  <ion-row class="ion-no-padding lt">

    <ion-col size="4">
      <ion-row class="fs-10 grey faded_red">Sold</ion-row>
      <ion-row><ion-datetime class="ion-no-padding" placeholder="01 May 2021"></ion-datetime></ion-row>
    </ion-col>
  
    <ion-col size="6" class="ion-no-padding">
      <ion-row class="fs-10">
        <ion-col size="3" class="grey">Qty:</ion-col>
        <ion-col size="9">1.043 gm</ion-col>
      </ion-row>
      <ion-row class="fs-10 grey">
        <ion-col size="3.5">Price:</ion-col>
        <ion-col size="8.5">4892.50 /gm</ion-col>
      </ion-row>
    </ion-col>
    
    <ion-col size="2">
      <ion-row class="fs-10">
        ₹ 80.52
      </ion-row>
    </ion-col>

  </ion-row>

  <hr>

<ion-row class="ion-no-padding lt">

  <ion-col size="4">
    <ion-row class="fs-10 grey faded_red">Sold</ion-row>
    <ion-row><ion-datetime class="ion-no-padding" placeholder="01 May 2021"></ion-datetime></ion-row>
  </ion-col>

  <ion-col size="6" class="ion-no-padding">
    <ion-row class="fs-10">
      <ion-col size="3" class="grey">Qty:</ion-col>
      <ion-col size="9">3.043 gm</ion-col>
    </ion-row>
    <ion-row class="fs-10 grey">
      <ion-col size="3.5">Price:</ion-col>
      <ion-col size="8.5">4892.50 /gm</ion-col>
    </ion-row>
  </ion-col>

  <ion-col size="2">
    <ion-row class="fs-10">
      ₹ 111.83
    </ion-row>
  </ion-col>
  
</ion-row>

<hr>

 
<ion-row class="ion-no-padding lt">

  <ion-col size="4">
    <ion-row class="fs-10 grey success">Invested</ion-row>
    <ion-row><ion-datetime class="ion-no-padding" placeholder="01 May 2021"></ion-datetime></ion-row>
  </ion-col>

  <ion-col size="6" class="ion-no-padding">
    <ion-row class="fs-10">
      <ion-col size="3" class="grey">Qty:</ion-col>
      <ion-col size="9">1.043 gm</ion-col>
    </ion-row>
    <ion-row class="fs-10 grey">
      <ion-col size="3.5">Price:</ion-col>
      <ion-col size="8.5">4892.50 /gm</ion-col>
    </ion-row>
  </ion-col>

  <ion-col size="2">
    <ion-row class="fs-10">
      ₹ 99.93
    </ion-row>
  </ion-col>

</ion-row>

<hr>

<ion-row class="ion-no-padding lt">

  <ion-col size="4">
    <ion-row class="fs-10 grey success">Invested</ion-row>
    <ion-row>
      <ion-datetime class="ion-no-padding" placeholder="01 May 2021"></ion-datetime>
    </ion-row>
  </ion-col>

  <ion-col size="6" class="ion-no-padding">
    <ion-row class="fs-10">
      <ion-col size="3" class="grey">Qty:</ion-col>
      <ion-col size="9">2.043 gm</ion-col>
    </ion-row>
    <ion-row class="fs-10 grey">
      <ion-col size="3.5">Price:</ion-col>
      <ion-col size="8.5">4892.50 /gm</ion-col>
    </ion-row>
  </ion-col>

  <ion-col size="2" class="fs-10">
    <ion-row class="fs-10">
      ₹ 100.93
    </ion-row>
  </ion-col>

</ion-row> 

</ion-card>

<ion-datetime></ion-datetime>

</ion-content>

<ion-footer>
  
  <ion-row>
    <ion-col>
      <ion-button fill="outline" expand="block" class="btn-height-45">Sell</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" class="btn-height-45" routerLink="/gold16v1">Invest More</ion-button>
    </ion-col>
  </ion-row>
  
</ion-footer>
